.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

img {
  width: 583px;
  height: 428px;
}

h2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  width: 80px;
  height: 80px;
  border: 0.5px solid black;
  background-color: white;
  border-radius: 45px;
  font-size: 32px;
  font-weight: bold;
  position: fixed;
  top: 350px;
  right: 525px;
}

button {
  position: fixed;
  top: 130px;
  right: 190px;
  font-family: monospace;
  background-color: snow;
}
.bubble { /* separated for future additions */
  border-radius: 45px;
  width: 50px;
  height: 50px;
  border: 0.5px solid black;
}



